{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h2>{% trans "E-mail to a friend" %}</h2>
  <p>
    {% blocktrans with object.get_absolute_url as object_url %}To e-mail <a href="{{ object_url }}">{{ object }}</a> to a friend, fill out the short form below.{% endblocktrans %}
  </p>
  <p>
    {% blocktrans %}Note that if you select "Use my e-mail address as from address", your e-mail address will be visible to your friend, and they will be able to reply to you. If you do not select this box, your friend will receive an e-mail from an address that does not accept replies and they will <em>not</em> be able to see your e-mail address. {% endblocktrans %}
  </p>
  <form action="{% url mailfriend_send %}" method="post">{% csrf_token %}
    {{ form.as_p }}
    <p>
        <input type="hidden" id="id_content_type" name="content_type_id" value="{{ content_type.pk }}">
        <input type="hidden" id="id_object_pk" name="object_pk" value="{{ object.pk }}">
        <input type="submit" value="submit" />
    </p>    
  </form>
{% endblock %}
